.home{
    position: absolute;
    width: 1440px;
    height: 1627px;
    background: #FFFFFF;
}

.navbar {
    width: 1440px;
    height: 61px;
    left: 0px;
    top: 0px;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
    font-size: 18px !important;
    font-weight: bold;
    font-family: Roboto !important;
    color: #4B7EFF;
}
    .navbar-nav > li > a { 
        display: inline-block;
        font-family: Roboto !important;
        font-style: normal;
        font-size: 18px !important;
        line-height: 21px;
        color: #4B7EFF;
    } 

    .navbar-nav > li{
        padding-left:5px !important;
        padding-right:5px !important;
      }


.sliderWrapper {
    position: absolute;
    width: 1440px;
    height: 562px;
    left: 0px;
    top: 71px;
    background: #FFFFFF;
}

    .carousel-inner{
    height:500px
    }
    .carousel-inner .carousel-item img{
    max-height:500px;
    object-fit:contain;
    }

    .carousel-control-next-icon:after
    {
    content: '>';
    font-size: 55px;
    color: rgba(70,70,70,.25) ;
    }

    .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color:rgba(70,70,70,.25) ;
    }

    .carousel-indicators li {
        position: relative;
        top:30px;
        background-color: #999 !important;
        background-color: rgba(70,70,70,.25) !important;
      }
      
    .carousel-indicators .active {
        background-color: #444 !important;
      }

.sobreWrapper {
    position: absolute;
    width: 1440px;
    height: 423px;
    left: 0px;
    top: 640px;
    background: rgba(95, 111, 255, 0.76);
}
    .Rectangle {
        position: absolute;
        width: 8px;
        height: 26px;
        left: 80px;
        top: 48px;
        background: #FFFFFF;
    }

    .Title {
        position: absolute;
        width: 64px;
        height: 28px;
        left: 98px;
        top: 47px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        color: #FFFFFF
      
    }

    .Text {
        position: absolute;
        width: 1187px;
        height: 189px;
        left: 126px;
        top: 121px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }

.contatoWrapper {
}
    .Rectangle2 {
        position: absolute;
        width: 8px;
        height: 26px;
        left: 80px;
        top: 1151px;
        background: #4B7EFF;
    }

    .Title2 {
        position: absolute;
        width: 64px;
        height: 28px;
        left: 98px;
        top: 1150px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;

        color:  #4B7EFF; 
    }

    form {
            position: absolute;
            left: 80px;
            top: 1230px;
            width: 90%;
        }

        input,textarea {
            background: #FFFFFF;
            border: 1px solid #4B7EFF !important;
            box-sizing: border-box;
            border-radius: 5px;
        }

        ::placeholder {
            color:  #4B7EFF !important;
        }

        .btn-primary { 
            background-color: #4B7EFF !important;
        }
    
